<form method="POST" action='/signup'>
  <h2>Sign up as a new musician</h2>
  <p>Name: <input type="text" name="name"></p>
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>

  <h2>Key info:</h2>
  <p>Type of musician: <input type="text" name="type"> (Valid answers are: Singer, Guitarist, Bassist, Drummer)</p>
  <p>Net worth: <input type="text" name="net_worth"></p>

  <input type="submit" value="Create account">
</form>