<h2>New musician account not successfully created.</h2>

<p>Make sure that the username you are attempting to use has not already been used.</p>
<p>Also, make sure that you haven't checked an existing band name AND created a new band.</p>
<p>Also, make sure that the type of musician input is one of the valid options (Guitarist, Singer, Drummer, or Bassist)</p>