<h2>Home Page</h2>

<a href="/musicians/new">Sign Up</a>
<br>
<a href="/login">Log In</a>
<br>
<a href="/musicians">Musicians</a>
<br>
<a href="/bands">Bands</a>
<br>
<a href="/instruments">Instruments</a>